
/*création classes récurrentes*/
.flex{
    display:flex;
}

.flex-dir-column{
    flex-direction: column;
}
    
.flex-dir-row{
    flex-direction: row;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.width-100{
    width:100%;
}

*{
    font-family:'Roboto', sans-serif;
}

:root {
    --primary-color:#9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color:#99E2D0;
}

.fa-solid{
    color : #FFFFFF;
}


body{
    margin:0; 
    padding:0;
}
/***HEADER***/

header{
    height: 113px;
    gap:17px;
}

header img{
    width:197px;
    height: 36px;
}

.localisation{
    gap:17px;
    background-color: #EAEAEA;
    font-size:16px;
    font-weight:500;
    height:50px;
}
/*revoir bandes ombrées dessus dessous*/

.localisation img{
    width:12px;
    height:16px;
    margin:16px 0 16px 0;
}

/*****FOOTER****/

footer{
    color: #FFFFFF;
    background-color: #353535;
    padding:22px 25px 22px 25px;
    gap:16px;
  }
  
  footer ul{
    gap:7px;
    padding:0;
  }
  
  footer svg{
    width:139px;
    height:27px;
  }
  footer li{
    list-style-type: none;
    gap:100px;
    }

    footer li i{
        margin-right:10px;
    }
  
  footer svg path{
    fill:#FFFFFF !important;
  }