/* SCSS du main de la page des 4 menus*/


.subheader {
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
}

.restaurant__picture {
    width: 100%;
    height: 32rem;

    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.menus__cards {
    margin-top: -45px;
    border-radius: 50px;
    background-color: #F6F6F6;
    overflow: hidden;
    justify-content: space-between;

    @media (min-width:1224px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .like {
        position: relative;
        width:50px;
        height:50px;

        @media (min-width:1224px) {
            padding-top: 20px;
        }

        .fa-heart {
            padding-right: 100px;
            padding-top: 35px;
        }

        .far {
            position: absolute;
            left: 0px;
            z-index: 100;
            transition: all 400ms ease-in;

            &:hover {
                opacity: 0;

                &+.fas {
                    opacity: 1;
                    background: linear-gradient(to bottom, #FF79DA, #9356DC);
                    background-clip: text;
                    color: transparent;
                    transition: all 400ms ease-in;
                }
            }
        }

        .fas {
            opacity: 0;
            transition: all 400ms ease-out;
        }
    }
}

.submenus {
    padding: 15px;
    gap: 15px;
    overflow-x: hidden;

    .submenus1,
    .submenus2,
    .submenus3 {
        transform: translateY(101vh);
        animation: slide-in;
        animation-duration: 0.3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;

        &.submenus1 {
            animation-delay: 300ms;
        }

        &.submenus2 {
            animation-delay: 600ms;
        }

        &.submenus3 {
            animation-delay: 900ms;
        }
    }

    .submenus1__title,
    .submenus2__title,
    .submenus3__title {
        margin-top: 40px;
        margin-bottom: 20px;

        .underline {
            width: 40px;
            border-top: solid 3px var(--tertiary-color);
        }
    }

    &__card {
        background-color: var(--white);
        border-radius: 15px;
        @include box-shadow;
        padding: 20px;
        margin-bottom: 15px;
        justify-content: space-between;
        gap: 15px;
        overflow: hidden;

        &:hover &--price .select {
            margin-right: -20px;
        }

        &--plate {
            gap: 10px;
            overflow: hidden;


            .plate {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .descript {
                font-size: 15px;
                margin: 0;
                height: 20px;
                text-align: start;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .submenus__card--price {
            display: flex;
            font-weight: 700;
            font-size: 15px;
            gap: 15px;
            white-space: nowrap;

            .price {
                justify-content: center;
                align-items: end;
            }

            .select {
                margin: -20px -80px -20px 0;
                width: 60px;
                background: var(--tertiary-color);
                transform: translateX(0em);
                transition-duration: 750ms;

                .fa-circle-check {
                    color: var(--white);
                }
            }
        }

    }
}

.order {
    padding-top: 15px;
    padding-bottom: 40px;
}