/* SCSS du main de la page La Palette du Goût*/


.subheader{
    width:100%;
    height:32rem; 
}

.restaurant__picture {
    width:100%;
    height:32rem;
    object-fit: cover;
    position:absolute;
    z-index:-1;  
}

.menus__cards{
    margin-top:-45px;
    border-radius: 50px;
    background-color: #F6F6F6;
    overflow: hidden;
    justify-content: space-between;
    
        img{
            width:22px;
            height:22px;  
            border: 1px;
            padding-right:100px;
        }
}

.submenus{
    padding:15px;
    gap:15px;
    
    &__card{
        background-color: var(--white);
        border-radius:15px; 
        @include box-shadow;
        padding:20px;
        margin-bottom:15px;
        justify-content: space-between;
        gap:15px;


       &--plate{
            gap:10px;
            
            .descript{
            font-size:15px;
            margin:0;
            height:20px;
            text-align:start;
            }
        }

        .plate__price{
            display:flex;
            align-items:end;
            font-weight:700;
            font-size:15px;
        }
    }
}

.order{
    padding-top:15px;
    padding-bottom:40px;
}