.lineargradient-button {
    width: 218px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 0;
    border-radius: 45px;
    color: var(--white);
    box-shadow: 0px 4px 10px 0px #00000040;
    font-size: 16px;
}
