.container {
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.welcome{
    opacity:0;
    animation : welcome 180ms 2s ease-in forwards;
}

.loader {
    
    animation: loader 2s ease-in-out forwards;
    animation-delay: 500ms;

        svg{
            @include box-shadow;
            border-radius:25px;
            border:14px outset;
            width:110px;
            height:110px;
            padding:30px;
            fill:var(--primary-color);
            background :linear-gradient(#FF79DA, #9356DC);
        }
} 


