.container {
    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.welcome{
    opacity:0;
    animation : welcome 2s 3s ease-in forwards;
}

.loader { /*revoir*/
    
    transform-origin:center;
    animation: loader 5s ease-in-out 1;
    animation-delay: 500ms;

        svg{
            border-radius:25px;
            width:100px;
            height:100px;
            padding:15px;
            fill:var(--primary-color);
            background :linear-gradient(#FF79DA, #9356DC);
        }
} 


