/*CLASSES RECURRENTES*/

.flex{
    display:flex;
}

.flex-column{
    display:flex;
    flex-direction: column;
}

.flex-column-center{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row{
    display:flex;
    flex-direction: row;
}

.flex-row-center{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-left-row{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.wrap{
    display:flex;
    flex-wrap: wrap;
}


.w100 {
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --white: #FFFFFF;
    --tertiary-color-dark:#008766;
}

/*créer BCKGD*/

.fa-solid {
    color: var(--white);
}

/*retirer marge droite au body*/
body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    max-width: 1440px;
    min-width:320px;
    margin:auto;
}

@mixin box-shadow {
    box-shadow: 0px 4px 10px 0px #00000040;
}