/***HEADER***/

header {
    height: 113px;
    gap: 17px;

    img {
        width: 197px;
        height: 36px;
    }

    #search {
        background: none;
        border: none;
        font-size: 16px;
        font-weight: 500;
    }
}

.localisation {
    gap: 17px;
    color: #353535;
    background-color: #EAEAEA;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    box-shadow: 0px 4px 10px 0px rgb(211, 208, 208) inset, 0px 4px 5px 2px rgb(211, 208, 208);

         img {
            width: 12px;
            height: 16px;
            margin: 16px 0 16px 0;
        }
}

/*****FOOTER****/

footer {
    color: var(--white);
    background-color: #353535;
    padding: 22px 25px 22px 25px;
    margin: 0;
    gap: 16px;

    svg {
        width: 139px;
        height: 27px;

        path {
            fill: var(--white) !important;
        }
    }

    ul {
        gap: 7px;
        padding: 0;

        li {
            list-style-type: none;

            i {
                margin-right: 10px;
            }
        }
    }
}